.header{
  position: fixed;
  padding: 20px;
  width: 25%;
  height: 100vh;
  font-size: 14px;
  border-right: solid #666 ;
  text-align: center;
}

.header_logo{
  position: absolute;
  margin: 0 auto;
}

.header_nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav_items{
  display: flex;
  gap: 40px;
  flex-direction: column;
  /* justify-content: space-between; */
}

.nav_item{
  list-style: none;
  text-align: center;
}

.official_site_link{
  /* padding: 10px 0; */
  line-height: 250%;
  color: white;
  background-color: #0071bc;
  border-radius: 10px;
}

/* START MAIN */
main {
  height: 2000px;
}
/* END MAIN */